.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--secondary);
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: var(--text);
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}
